body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #363533;
}

nav {
    background-color: #222;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
}

nav a {
    color: white;
    text-decoration:none;
    margin:0 15px;
    font-size: 16px;
    transition: 0.3s;
}

nav a:hover {
    color: #e6c405;
}

h1,h2 {
    text-align: center;
    margin-top: 20px;
}

p {
    max-width: 800px;
    margin: 20px auto;
    line-height: 1.6;
    text-align: center;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.features {
    padding: 40px 20px;
    text-align: center;
}

.card {
    display: inline-block;
    background: white;
    width: 200px;
    margin: 15px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    vertical-align: top;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;

    background-image: url("images.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card:hover {
    transform: translateY(-5px);
}


.icon {
    font-size: 40px;
    margin-bottom: 10px;
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer a {
    color: #ffb347;
    text-decoration: none;
}