*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f8f8f8;
}

header{
    width:100%;
    background:#3E2723;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 8%;
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}


