*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f8f8f8;
}

header{
    width:100%;
    background:#3E2723;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 8%;
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.logo{
    color:#F4A261;
    font-size:30px;
    font-weight:700;
    cursor:pointer;
}

nav ul{
    display:flex;
    list-style:none;
    gap:35px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-size:17px;
    font-weight:500;
    position:relative;
    transition:0.3s;
}

nav ul li a:hover{
    color:#F4A261;
}


nav ul li a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-6px;
    width:0%;
    height:3px;
    background:#F4A261;
    transition:0.3s;
}

nav ul li a:hover::after{
    width:100%;
}

/* ===========================
   HERO SECTION
=========================== */

.hero{
    height:100vh;
    background:
    linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)),
    url("photo-1509042239860-f550ce710b93.avif");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

